<footer class="footer">
  <div style="height: 2rem;"></div>
  <div class="hr"></div>
  <div style="height: 2rem;"></div>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="contents footer_contents">
    <h3>주최</h3>
    전국 대학생 프로그래밍 대회 동아리 연합
  </div>

  <div class="contents footer_contents">
    <h3>후원</h3>
    <a href="/sponsor">
      후원 문의
    </a>
  </div>

  <div style="height: 1rem;"></div>

  <div class="contents footer_contents">
    <p>
      <a href="https://www.facebook.com/groups/ucpc.korea">전국 대학생 프로그래밍 대회 동아리 연합</a> &middot; {{ site.author | escape }}<br>
      designs &copy; 2020 &ndash; 2022 <a href="https://shiftpsh.com">shiftpsh.com</a>
    </p>
  </div>

  <div style="height: 1rem;"></div>

  <div class="contents footer_contents old_sites">
    <a href="https://2021.ucpc.me"><img style="height: 1.6em;" src="/assets/history/2021.svg" alt="UCPC 2021"></a>
    <a href="https://2020.ucpc.me"><img style="height: 1.4em;" src="/assets/history/2020.svg" alt="UCPC 2020"></a>
    <a href="https://2019.ucpc.me"><img style="height: 1em;" src="/assets/history/2019.svg" alt="UCPC 2019"></a>
  </div>
  
  <div style="height: 2rem;"></div>

  <div style="height: 2rem; display: flex;">
    <div style="flex: 1 0 0;"></div>
    <div style="flex: 0 0 4px; background: var(--ucpc-blue-dark);"></div>
    <div style="flex: 1 0 0;"></div>
  </div>
</footer>
