<a href="https://solved.ac">
  <img
    style="height: 1.1em"
    src="/assets/sponsor-logo/solvedac.svg"
    alt="solved.ac"
  />
</a>
<a href="https://algospot.com">
  <img
    style="height: 0.9em"
    src="/assets/sponsor-logo/algospot.png"
    alt="알고스팟"
  />
</a>
<a href="https://www.moloco.com">
  <img
    style="height: 1.2em"
    src="/assets/sponsor-logo/moloco.svg"
    alt="MOLOCO"
  />
</a>
<a href="https://www.secmem.org">
  <img
    style="height: 2.4em"
    src="/assets/sponsor-logo/samsung_sm.png"
    alt="삼성소프트웨어멤버십"
  />
</a>
<a href="https://startlink.io/">
  <img
    style="height: 1.5em"
    src="/assets/sponsor-logo/startlink.png"
    alt="스타트링크"
  />
</a>
<a href="https://d2.naver.com/">
  <img
    style="height: 1.2em"
    src="/assets/sponsor-logo/naver_d2.png"
    alt="네이버 D2"
  />
</a>
<a href="https://www.hanbit.co.kr/">
  <img
    style="height: 1.5em"
    src="/assets/sponsor-logo/Hanbitmedia.png"
    alt="한빛미디어"
  />
</a>
<a href="https://www.furiosa.ai/">
  <img
    style="height: 1.5em"
    src="/assets/sponsor-logo/Furiosa_AI_h_rgb_k.png"
    alt="Furiosa AI"
  />
</a>
<a href="https://planetariumhq.com/">
  <img
    style="height: 1.4em"
    src="/assets/sponsor-logo/planetarium_logo.png"
    alt="Planetarium"
  />
</a>
<a href="https://devocean.sk.com/">
  <img
    style="height: 1.1em"
    src="/assets/sponsor-logo/devocean_logo_c.png"
    alt="Planetarium"
  />
</a>
<a href="https://ejn.gg/kr/">
  <img style="height: 1.1em" src="/assets/sponsor-logo/twip.svg" alt="EJN" />
</a>
<a href="https://www.grepp.co/">
  <img
    style="height: 1.4em"
    src="/assets/sponsor-logo/programmers-CI.svg"
    alt="grepp"
  />
</a>
<a href="https://www.hyundai-autoever.com/">
  <img
    style="height: 1.6em"
    src="/assets/sponsor-logo/Hyundai_AutoEver_logo.png"
    alt="Hyundai Autoever"
  />
</a>
<a href="https://company.nexon.com/">
  <img
    style="height: 1.6em"
    src="/assets/sponsor-logo/Nexon_Logo.svg"
    alt="Nexon"
  />
</a>
<a href="https://github.com/scv-soft">
  <img
    style="height: 1.5em"
    src="/assets/sponsor-logo/scvsoft.svg"
    alt="Nexon"
  />
</a>
<div style="height: 1.4em">정현환 (LIBe)</div>
