<a href="https://solved.ac">
  <img
    style="height: 1.1em"
    src="/assets/sponsor-logo/solvedac.svg"
    alt="solved.ac"
  />
</a>
<a href="https://algospot.com">
  <img
    style="height: 0.9em"
    src="/assets/sponsor-logo/algospot.png"
    alt="알고스팟"
  />
</a>
<a href="https://www.moloco.com">
  <img
    style="height: 1.2em"
    src="/assets/sponsor-logo/moloco.svg"
    alt="MOLOCO"
  />
</a>
<a href="https://www.secmem.org">
  <img
    style="height: 2.4em"
    src="/assets/sponsor-logo/samsung_sm.png"
    alt="삼성소프트웨어멤버십"
  />
</a>
