div.footer_contents {
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.05ch;
}

div.footer_contents.old_sites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em 2em;
  a {
    filter: grayscale(1);
    transition: filter 0.3s ease;
    &:hover {
      filter: grayscale(0);
    }
  }
}

div.footer_contents div.sponsors {
  display: grid;
  font-size: 0.8em;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  place-items: center start;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  gap: 16px;
  a {
    filter: grayscale(1);
    transition: filter 0.3s ease;
    &:hover {
      filter: grayscale(0);
    }
  }
}

div.sponsors-grid {
  display: grid;
  font-size: 1.4em;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  place-items: center start;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  padding: 16px;
  gap: 16px;
}
