<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{{ page.id }}">
    
    {%- include header.html -%}

    <div class="contents">
      <div class="main_caption">
        <h1 style="margin-bottom: 0;">2022년 여름 대회</h1>
        전국 대학생 프로그래밍 대회 동아리 연합
      </div>
    </div>
    <div style="height: 2rem;"></div>
    <div class="contents">
      <div class="main_caption">
        <div class="main_notice">
          <b>본선대회 7월 23일 &middot; <a href="https://forms.gle/8VyPLm3YzbxZgT7Y7">참가 신청 &rarr;</a> &middot; <a href="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vRuLIdce91ALLkDKbL6KluZ3FasTbVH5AT9kuNVg87Coir_ldik3oJny2MPT2PJq9MQQxTkdOyFJ2b7/pubhtml?gid=1534493384&single=true">팀 목록 &rarr;</a></b>
        </div>
        <a href="https://map.naver.com/v5/entry/place/1549701937?placePath=%2Fhome&c=14144616.6126521,4510570.3637995,17.12,0,0,0,dh">
          스페이스쉐어 삼성COEX센터
        </a> &middot; 2호선 삼성역 8번 출구
      </div>
    </div>
    <div style="height: 4rem;"></div>
    <div class="cover_image">
      <img id="main-pic-blurry" alt="UCPC 2019">
      <img id="main-pic" alt="UCPC 2019">
    </div>
    <script type="text/javascript">
      function lpad(num, pad_str, len) {
        var str = num.toString();
        while (str.length < len) {
          str = pad_str + str;
        }
        return str;
      }
      window.onload = function () {
        var picture_num = Math.floor(Math.random() * 13);
        var picture_name = 'main-pic-' + lpad(picture_num, '0', 2) + '.jpg';
        var path = '{{ "/assets/" | relative_url }}' + picture_name;
        document.getElementById('main-pic').src = path;
        document.getElementById('main-pic-blurry').src = path;
      };
    </script>

    <div style="height: 4rem;"></div>

    <div class="contents">
      <div class="main_description">
        <h2>
          11번째 UCPC가 열립니다.
        </h2>
        <div style="height: 1rem;"></div>
        <span>
          UCPC는 전국 대학생 프로그래밍 대회 동아리 연합에서 진행하는 여름 대회입니다.<br>

          매년 여름에 진행하는 UCPC는 ICPC를 준비하는 팀들에게 훌륭한 연습 기회가 되고 있고,<br>
          프로그래밍 대회라는 하나의 공통적인 목표와 학구열을 가진 학생들에게 좋은 교류와 경쟁의 장이 되고 있습니다.
        </span>
      </div>
    </div>

    <div style="height: 2rem;"></div>

    <div class="hr"></div>

    <main class="contents index" style="text-align: center;" aria-label="Content">
      {{ content }}
    </main>

    <div style="height: 2rem;"></div>

    <div class="hr"></div>

    <div style="height: 2rem;"></div>

    <div class="contents main_description">
      UCPC 2022 사이트 <a href="https://github.com/ucpcc/ucpc2022-site">GitHub 레포지토리</a>를
      <img src="/assets/github-watch-button.png" alt="Watch" style="height: 1.5em; vertical-align: middle;"> 하시면
      최신 소식들을 메일로 받아보실 수 있습니다.
    </div>

    {%- include footer.html -%}

  </body>

</html>
